PART ONE
I plan to turn this file into a proper requirements.txt which can be run from the terminal. At the moment I am just gathering pip/conda commands I have used.
I got the list of requirements from https://deepchem.readthedocs.io/en/latest/get_started/requirements.html

Hard requirements
conda install joblib numpy pandas scikit-learn sympy scipy

Soft requirements, whatever soft means.
pip install biopython   
pip install dgl==0.9.0
pip install rdkit
pip install dgllife
pip install transformers
pip install tokenizers (says requirement already satisfied)
brew install lightgbm
pip install matminer
pip install mdtraj (did not work)
pip install git+https://github.com/samoturk/mol2vec (for Mol2vec)
conda install -c rdkit -c mordred-descriptor mordred (had to install rdkit with conda forge too. does not see it when you only have it installed with pip)
pip install networkx
Ignored OpenAI Gym req. I tried going to the website but Chrome said they were trying to steal my info. Not vibing with that.
conda install -c conda-forge openmm
conda install -c conda-forge pdbfixer
Pillow requirement already satisfied
pip install pubchempy
pip install pyGPGO
pip install pymatgen
conda install pytorch==2.2.1 torchvision==0.17.1 torchaudio==2.2.1 -c pytorch
pip install simdna
**pip install deepchem** (not sure if this is a good place to do it, but wanted to do it before tensorflow)
pip install tensorflow
pip install --upgrade tensorflow-probability
pip install xgboost
pip install tensorflow-addons
pip install --prefer-binary pyscf
pip install pysam
I skipped pylibxc. Installation page looks rather complicated, I will just hope I do not need it.
Skipping dqclibs for the same reason.
Same with basis-set-exchange. I wish they would give plain and simple instructions for how to download the package. As I have said before, sometimes documentation is not your friend.


PART TWO
After all that, pip check gave me:
gensim 4.3.3 has requirement numpy<2.0,>=1.18.5, but you have numpy 2.0.2.
mordred 1.2.0 requires networkx==2.*, but you have networkx 3.2.1 which is incompatible.
pymc3 3.11.6 requires numpy<1.22.2,>=1.15.0, but you have numpy 1.26.1 which is incompatible.
pymc3 3.11.6 requires scipy<1.8.0,>=1.7.3, but you have scipy 1.13.1 which is incompatible.

1. Downgraded numpy: pip install numpy==1.26.1 --force-reinstall    
2. Removed pymc3, then was told that "pygpgo 0.5.0 requires pymc3, which is not installed." so I removed pygpgo also.
3. Downgraded networkx. "pip install networkx==2.8.8"
4. "grpcio 1.70.0 is not supported on this platform" so I downgraded a few times. Still did not work so I (you guessed it) REMOVED the package.
5. Apparently tensorflow is dependent on grpcio, so I had to reinstall it. Gonna try running the code anyway.

PART THREE
Ran:
"import numpy as np
import deepchem as dc"
and got some depedency messages. So I installed:
pip install lightning
pip install jax